.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .welcome-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  