.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .pie-chart-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }
  